body{
    background-color: #0f0c29;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.corpo{
    display: flex;
    background-color: white;
    border-radius: 10px;
    width: 810px;
}

.image img{
    width: 350px;
    margin: 20px;
}
.bandeira img{
    width: 20px;

}
.portugal{
    display: flex;
}
.clubs img{
width: 50px;
}
.clubs{
    display: flex;
    margin-top: 30px;

}
.premios{
    margin-top: 50px;
    
}
.nacionalidade{
    margin-left: 10px;
}
.premios img{
    width: 40px;
}
.bolaouro{
    padding-top: 20px;
}
.gols{
    padding-top: 20px;
}

.teste{
   
}